<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <!--配置的时候要按顺序。常用的如下
    1.properties–>用于引入配置文件如
    2.settings–>各种配置比如映射下划线到驼峰命名、延迟加载
    3.–typeAliases>别名处理
    4.environment–>也就是连接数据库的具体信息
    5.mappers–>映射文件
    -->

    <!--  配置自带的日志  -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置别名    -->
    <typeAliases>
        <package name="com.kfhstu.furn.bean"/>
    </typeAliases>

<!--  配置分页插件  -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
<!--       配置合理化，如果页数过大过小，转换到首页或者尾页     -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>
